.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  #root {
    height: 100%;
  }
  #appContainer {
    height: 100%;
    .row {
      height: 100%;
      .col,
      [class*='col-'] {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
