@mixin buttonTheme($context, $color, $bgcolor, $bgcolorHover) {
  .cbtn-#{$context} {
    color: $color;
    background-color: $bgcolor;

    #{'&:hover'},
    #{'&:active'} {
      color: $color;
      background-color: $bgcolorHover;
    }

    #{'&:focus'} {
      box-shadow: 0 0 0 0.2rem $bgcolorHover;
    }
  }
}
